{
  "openapi": "3.0.1",
  "info": {
    "title": "platform-sdk",
    "description": "This document provides information on how to access the withthegrid application programmatically.",
    "contact": {
      "name": "API support",
      "email": "info@withthegrid.com",
      "url": "https://withthegrid.com/"
    },
    "version": "8"
  },
  "servers": [
    {
      "url": "https://api.withthegrid.com"
    }
  ],
  "tags": [
    {
      "name": "analytics"
    },
    {
      "name": "authentication"
    },
    {
      "name": "chart"
    },
    {
      "name": "command"
    },
    {
      "name": "command-type"
    },
    {
      "name": "device"
    },
    {
      "name": "device-type"
    },
    {
      "name": "environment"
    },
    {
      "name": "graph"
    },
    {
      "name": "import"
    },
    {
      "name": "issue"
    },
    {
      "name": "issue-comment"
    },
    {
      "name": "connectivity-threshold"
    },
    {
      "name": "issue-trigger-rule"
    },
    {
      "name": "label"
    },
    {
      "name": "measurement"
    },
    {
      "name": "measurement-filter"
    },
    {
      "name": "measurement-threshold"
    },
    {
      "name": "quantity"
    },
    {
      "name": "report"
    },
    {
      "name": "report-type"
    },
    {
      "name": "settings"
    },
    {
      "name": "subscription"
    },
    {
      "name": "suggestions"
    },
    {
      "name": "supplier"
    },
    {
      "name": "supplier-activity"
    },
    {
      "name": "supplier-certificate"
    },
    {
      "name": "supplier-report-type"
    },
    {
      "name": "supplier-webhook"
    },
    {
      "name": "two-factor-authentication"
    },
    {
      "name": "user"
    }
  ],
  "paths": {
    "/analytics/panel": {
      "post": {
        "summary": "addPanel",
        "description": "Create an analytics dashboard \n\nRights\n\n- *Monitoring environment*: REPORTS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hashId": {
                      "type": "string",
                      "example": "7usgt"
                    }
                  },
                  "required": [
                    "hashId"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "My dashboard"
                  },
                  "layout": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "x": {
                          "type": "integer",
                          "maximum": 5
                        },
                        "y": {
                          "type": "integer"
                        },
                        "width": {
                          "type": "integer",
                          "minimum": 2,
                          "maximum": 6
                        },
                        "height": {
                          "type": "integer",
                          "minimum": 4
                        }
                      },
                      "required": [
                        "x",
                        "y"
                      ],
                      "additionalProperties": false
                    },
                    "default": []
                  },
                  "cards": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "My widget"
                        },
                        "subtitle": {
                          "type": "string",
                          "example": "My widget description"
                        },
                        "query": {
                          "$ref": "#/components/schemas/analyticsQuery"
                        },
                        "visualisation": {
                          "$ref": "#/components/schemas/analyticsVisualisation"
                        }
                      },
                      "required": [
                        "title",
                        "query",
                        "visualisation"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "required": [
                  "title",
                  "cards"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      },
      "get": {
        "summary": "findPanel",
        "description": "Search through analytics dashboards \n\nRights\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "type": "object",
              "properties": {
                "sortBy": {
                  "type": "string",
                  "enum": [
                    "hashId",
                    "title"
                  ],
                  "default": "hashId"
                },
                "descending": {
                  "type": "boolean",
                  "default": true
                },
                "rowsPerPage": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 10
                },
                "search": {
                  "type": "string"
                },
                "offset": {
                  "type": "string",
                  "description": "To retrieve the next page, provide of the nextPageOffset of the last page when available and not null."
                },
                "updatedAfter": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Only rows that are updated after the provided date will be returned"
                }
              },
              "additionalProperties": false
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextPageOffset": {
                      "type": "string",
                      "nullable": true,
                      "description": "This is the last page if nextPageOffset is null",
                      "example": null
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "panel": {
                            "$ref": "#/components/schemas/analyticsPanel"
                          }
                        },
                        "required": [
                          "panel"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "nextPageOffset",
                    "rows"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/analytics/": {
      "get": {
        "summary": "find",
        "description": "Get the results for an analytics dashboard \n\nRights\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "$ref": "#/components/schemas/analyticsQuery"
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextPageOffset": {
                      "type": "string",
                      "nullable": true,
                      "example": null
                    },
                    "rows": {
                      "type": "array",
                      "items": {},
                      "example": [
                        [
                          "dao97"
                        ]
                      ]
                    }
                  },
                  "required": [
                    "nextPageOffset",
                    "rows"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/analytics/panel/{hashId}": {
      "get": {
        "summary": "getPanel",
        "description": "Get a specific analytics dashboard identified by its hashId \n\nRights\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "hashId",
            "schema": {
              "type": "string",
              "example": "7usgt"
            },
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "panel": {
                      "$ref": "#/components/schemas/analyticsPanel"
                    }
                  },
                  "required": [
                    "panel"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      },
      "delete": {
        "summary": "deletePanel",
        "description": "Delete an analytics dashboard. \n\nRights\n\n- *Monitoring environment*: REPORTS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "hashId",
            "schema": {
              "type": "string",
              "example": "7usgt"
            },
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/analytics/{hashId}": {
      "post": {
        "summary": "updatePanel",
        "description": "Update an analytics dashboard \n\nRights\n\n- *Monitoring environment*: REPORTS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "hashId",
            "schema": {
              "type": "string",
              "example": "7usgt"
            },
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "title": {
                    "type": "string",
                    "example": "My dashboard"
                  },
                  "layout": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "x": {
                          "type": "integer",
                          "maximum": 5
                        },
                        "y": {
                          "type": "integer"
                        },
                        "width": {
                          "type": "integer",
                          "minimum": 2,
                          "maximum": 6
                        },
                        "height": {
                          "type": "integer",
                          "minimum": 4
                        }
                      },
                      "required": [
                        "x",
                        "y"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "cards": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "example": "My widget"
                        },
                        "subtitle": {
                          "type": "string",
                          "example": "My widget description"
                        },
                        "query": {
                          "$ref": "#/components/schemas/analyticsQuery"
                        },
                        "visualisation": {
                          "$ref": "#/components/schemas/analyticsVisualisation"
                        }
                      },
                      "required": [
                        "title",
                        "query",
                        "visualisation"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "analytics"
        ]
      }
    },
    "/authentication/machine-login": {
      "post": {
        "summary": "machineLogin",
        "description": "Acquire a JSON web token that can be used to perform authenticated requests. The jwt expiration is typically 30 days. ",
        "security": [],
        "parameters": [
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "jwt": {
                      "type": "string",
                      "example": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJlbWFpcCI6InJvYkB3aXRodGhlZ3JpZC5jb20iLCJpA9qiOjE1Nzc3MTA5NjksImV4cCI6MTU4MDMwMjk2OSwiaXNzIjoid2l0aHRoZWdyaWQifQ.7PbwwsWU7x63Pd-J_KZQL22r185GfiufixyXQGOyQs8"
                    },
                    "user": {
                      "$ref": "#/components/schemas/user"
                    },
                    "environment": {
                      "$ref": "#/components/schemas/environment"
                    },
                    "environmentRights": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "See the getting started section about rights",
                      "example": [
                        "STATIC",
                        "USERS"
                      ]
                    },
                    "userEnvironmentSettings": {
                      "$ref": "#/components/schemas/userEnvironmentSettings"
                    }
                  },
                  "required": [
                    "jwt",
                    "user"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "assertion": {
                    "type": "string",
                    "description": "Is provided when you create a machine account (also called an API account)",
                    "example": "12as:7d6a4123"
                  }
                },
                "required": [
                  "assertion"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "authentication"
        ]
      }
    },
    "/chart/": {
      "get": {
        "summary": "get",
        "description": "Get the measurement data for one or more time series for a specified period \n\nRights\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "type": "object",
              "properties": {
                "startAt": {
                  "type": "string",
                  "format": "date-time",
                  "example": "2019-12-31T15:23Z"
                },
                "endAt": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Up to not including",
                  "example": "2021-01-01T00:00Z"
                },
                "series": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "pinHashId": {
                        "type": "string",
                        "example": "e13d57"
                      },
                      "quantityHashId": {
                        "type": "string",
                        "example": "sajia1"
                      }
                    },
                    "required": [
                      "pinHashId",
                      "quantityHashId"
                    ],
                    "additionalProperties": false
                  },
                  "maxItems": 40
                },
                "highResolution": {
                  "type": "boolean",
                  "default": false
                }
              },
              "required": [
                "startAt",
                "endAt",
                "series"
              ],
              "additionalProperties": false
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "series": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "pinHashId": {
                            "type": "string",
                            "example": "e13d57"
                          },
                          "quantityHashId": {
                            "type": "string",
                            "example": "sajia1"
                          },
                          "measurementsSummary": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "generatedAt": {
                                  "type": "string",
                                  "format": "date-time",
                                  "example": "2019-12-31T15:23Z"
                                },
                                "value": {
                                  "type": "number",
                                  "format": "float",
                                  "example": 0.5
                                }
                              },
                              "required": [
                                "generatedAt",
                                "value"
                              ],
                              "additionalProperties": false
                            }
                          }
                        },
                        "required": [
                          "pinHashId",
                          "quantityHashId",
                          "measurementsSummary"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "series"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "chart"
        ]
      }
    },
    "/chart/panel": {
      "get": {
        "summary": "getPanel",
        "description": "Get the chart panel for a pinGroup, grid, edge or pin \n\nRights\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "pinGroupHashId": {
                      "type": "string",
                      "example": "dao97"
                    }
                  },
                  "required": [
                    "pinGroupHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "gridHashId": {
                      "type": "string",
                      "example": "naud51"
                    }
                  },
                  "required": [
                    "gridHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "edgeHashId": {
                      "type": "string",
                      "example": "ka08d"
                    }
                  },
                  "required": [
                    "edgeHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "pinHashId": {
                      "type": "string",
                      "example": "e13d57"
                    }
                  },
                  "required": [
                    "pinHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                }
              ]
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lastMode": {
                      "type": "string",
                      "enum": [
                        "manual",
                        "automatic"
                      ],
                      "example": "automatic"
                    },
                    "charts": {
                      "type": "object",
                      "properties": {
                        "automatic": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/chart"
                          }
                        },
                        "manual": {
                          "type": "array",
                          "items": {
                            "$ref": "#/components/schemas/chart"
                          }
                        }
                      },
                      "required": [
                        "automatic",
                        "manual"
                      ],
                      "additionalProperties": false
                    }
                  },
                  "required": [
                    "lastMode",
                    "charts"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "chart"
        ]
      },
      "post": {
        "summary": "updatePanel",
        "description": "Update a chart panel \n\nRights\n\n- *Monitoring environment*: REPORTS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "anyOf": [
                {
                  "type": "object",
                  "properties": {
                    "pinGroupHashId": {
                      "type": "string",
                      "example": "dao97"
                    }
                  },
                  "required": [
                    "pinGroupHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "gridHashId": {
                      "type": "string",
                      "example": "naud51"
                    }
                  },
                  "required": [
                    "gridHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "edgeHashId": {
                      "type": "string",
                      "example": "ka08d"
                    }
                  },
                  "required": [
                    "edgeHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                },
                {
                  "type": "object",
                  "properties": {
                    "pinHashId": {
                      "type": "string",
                      "example": "e13d57"
                    }
                  },
                  "required": [
                    "pinHashId"
                  ],
                  "additionalProperties": false,
                  "x-required": true
                }
              ]
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "lastMode": {
                    "type": "string",
                    "enum": [
                      "manual",
                      "automatic"
                    ]
                  },
                  "manualCharts": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "title": {
                          "type": "string",
                          "nullable": true,
                          "example": null
                        },
                        "series": {
                          "type": "array",
                          "items": {
                            "type": "object",
                            "properties": {
                              "quantityHashId": {
                                "type": "string",
                                "example": "sajia1"
                              },
                              "pinHashId": {
                                "type": "string",
                                "example": "e13d57"
                              },
                              "color": {
                                "type": "string",
                                "nullable": true,
                                "description": "A hex color string",
                                "example": "#ff0000"
                              }
                            },
                            "required": [
                              "quantityHashId",
                              "pinHashId"
                            ],
                            "additionalProperties": false
                          },
                          "maxItems": 40
                        }
                      },
                      "required": [
                        "title",
                        "series"
                      ],
                      "additionalProperties": false
                    }
                  }
                },
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "chart"
        ]
      }
    },
    "/command/": {
      "post": {
        "summary": "add",
        "description": "Add a command that should be sent to a specific device \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n- *Monitoring environment*: SENSORS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "objectType": {
                    "type": "string",
                    "enum": [
                      "device",
                      "pinGroup"
                    ],
                    "example": "device"
                  },
                  "objectHashIds": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "example": "j1iha9"
                    },
                    "minItems": 1
                  },
                  "commandTypeHashId": {
                    "type": "string",
                    "example": "x18a92"
                  },
                  "fields": {
                    "type": "object",
                    "properties": {},
                    "additionalProperties": {
                      "$ref": "#/components/schemas/fieldToServerFull"
                    },
                    "description": "How form fields should be sent to the server when creating them.",
                    "example": {
                      "interval": 86400
                    }
                  },
                  "startAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Timestamp the device should execute the command. The system tries to share the command with the device before that time. If null, the device should execute it at time of receival + command.delay. It depends on the commandType whether startAt can be null",
                    "example": "2019-12-31T15:23Z"
                  },
                  "delay": {
                    "type": "number",
                    "format": "float",
                    "description": "In seconds. Only relevant when startAt is null. The command should then be executed by the device at time of receival + delay"
                  },
                  "endAt": {
                    "type": "string",
                    "format": "date-time",
                    "nullable": true,
                    "description": "Timestamp the device should stop execution of the command.",
                    "example": null
                  },
                  "channelIndices": {
                    "type": "array",
                    "items": {
                      "type": "number",
                      "format": "float"
                    },
                    "description": "The device channels for which this command is relevant. See commandType.channelSelect for allowed values.",
                    "default": []
                  },
                  "email": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "format": "email"
                    },
                    "description": "An email will be sent to all provided email addresses when the command is executed by the device",
                    "example": []
                  }
                },
                "required": [
                  "objectType",
                  "objectHashIds",
                  "commandTypeHashId",
                  "fields",
                  "email"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "command"
        ]
      },
      "delete": {
        "summary": "deleteMulti",
        "description": "Delete multiple commands. Will return an array showing which commands were deleted or not. \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n- *Monitoring environment*: SENSORS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "anyOf": [
                      {
                        "type": "object",
                        "properties": {
                          "hashId": {
                            "type": "string",
                            "example": "ga9741s"
                          },
                          "deleted": {
                            "type": "boolean",
                            "example": true,
                            "default": true
                          }
                        },
                        "required": [
                          "hashId"
                        ],
                        "additionalProperties": false
                      },
                      {
                        "type": "object",
                        "properties": {
                          "hashId": {
                            "type": "string",
                            "example": "ga9741s"
                          },
                          "deleted": {
                            "type": "boolean",
                            "example": false,
                            "default": false
                          },
                          "failureReason": {
                            "type": "string",
                            "example": "Device cannot be reached in time to cancel this command."
                          }
                        },
                        "required": [
                          "hashId"
                        ],
                        "additionalProperties": false
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "hashIds": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "ga9741s"
                    ]
                  }
                },
                "required": [
                  "hashIds"
                ],
                "additionalProperties": false
              }
            }
          }
        },
        "tags": [
          "command"
        ]
      },
      "get": {
        "summary": "find",
        "description": "Search through commands \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "query",
            "schema": {
              "type": "object",
              "properties": {
                "sortBy": {
                  "type": "string",
                  "enum": [
                    "hashId"
                  ],
                  "default": "hashId"
                },
                "descending": {
                  "type": "boolean",
                  "default": true
                },
                "rowsPerPage": {
                  "type": "integer",
                  "minimum": 1,
                  "maximum": 100,
                  "default": 10
                },
                "search": {
                  "type": "string"
                },
                "offset": {
                  "type": "string",
                  "description": "To retrieve the next page, provide of the nextPageOffset of the last page when available and not null."
                },
                "updatedAfter": {
                  "type": "string",
                  "format": "date-time",
                  "description": "Only rows that are updated after the provided date will be returned"
                },
                "pinGroupHashId": {
                  "type": "string",
                  "nullable": true
                },
                "edgeHashId": {
                  "type": "string",
                  "nullable": true
                },
                "gridHashId": {
                  "type": "string",
                  "nullable": true
                },
                "mapLayers": {
                  "type": "array",
                  "items": {
                    "type": "string"
                  },
                  "nullable": true
                }
              },
              "additionalProperties": false
            },
            "required": false,
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "nextPageOffset": {
                      "type": "string",
                      "nullable": true,
                      "description": "This is the last page if nextPageOffset is null",
                      "example": null
                    },
                    "rows": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "command": {
                            "$ref": "#/components/schemas/command"
                          },
                          "commandType": {
                            "$ref": "#/components/schemas/commandType"
                          },
                          "pinGroup": {
                            "$ref": "#/components/schemas/pinGroup"
                          }
                        },
                        "required": [
                          "command",
                          "commandType",
                          "pinGroup"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": [
                    "nextPageOffset",
                    "rows"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "command"
        ]
      }
    },
    "/command/{hashId}": {
      "delete": {
        "summary": "delete",
        "description": "Delete a command. Will raise an error if the command cannot be canceled because the device has already executed it or because the device will not be reached in time to let it know that it should ignore the command. \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n- *Monitoring environment*: SENSORS\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "hashId",
            "schema": {
              "type": "string",
              "example": "ga9741s"
            },
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "204": {
            "description": "No Content"
          }
        },
        "tags": [
          "command"
        ]
      },
      "get": {
        "summary": "get",
        "description": "Get a specific command identified by its hashId \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n- *Monitoring environment*: READ\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          },
          {
            "name": "hashId",
            "schema": {
              "type": "string",
              "example": "ga9741s"
            },
            "required": true,
            "in": "path"
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "command": {
                      "$ref": "#/components/schemas/command"
                    },
                    "commandType": {
                      "$ref": "#/components/schemas/commandType"
                    },
                    "createdByUserName": {
                      "type": "string",
                      "example": "John Doe"
                    }
                  },
                  "required": [
                    "command",
                    "commandType"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "tags": [
          "command"
        ]
      }
    },
    "/command-type/": {
      "post": {
        "summary": "add",
        "description": "Create a command type that can be sent to devices \n\nRights\n\n- *Connectivity environment*: ENVIRONMENT_ADMIN\n\n",
        "parameters": [
          {
            "name": "Environment-Hash-Id",
            "required": true,
            "in": "header",
            "schema": {
              "type": "string",
              "example": "yourAssetEnvironmentHashId"
            }
          },
          {
            "name": "Api-Version",
            "required": true,
            "in": "header",
            "schema": {
              "type": "integer",
              "example": 5
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "text/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hashId": {
                      "type": "string",
                      "example": "x18a92"
                    }
                  },
                  "required": [
                    "hashId"
                  ],
                  "additionalProperties": false
                }
              }
            }
          }
        },
        "requestBody": {
          "content": {
            "text/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "$ref": "#/components/schemas/stringOrTranslations"
                  },
                  "start": {
                    "type": "string",
                    "enum": [
                      "required",
                      "optional",
                      "disabled"
                    ],
                    "description": "'required': user must provide command.startAt. 'optional': user can provide command.startAt or a delay for the command to start after it is sent to the device. 'disabled': user cannot provide command.startAt nor a delay.",
                    "default": "optional"
                  },
                  "end": {
                    "type": "string",
                    "enum": [
                      "required",
                      "optional",
                      "disabled"
                    ],
                    "description": "'required': user must provide command.endAt. 'optional': user can provide command.endAt. 'disabled': user cannot provide command.endAt.",
                    "default": "disabled"
                  },
                  "fieldConfigurations": {
                    "type": "array",
                    "items": {
                      "anyOf": [
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "valueOptions": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "string"
                              ],
                              "default": "string"
                            },
                            "defaultValue": {
                              "type": "string"
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "text",
                                "textarea"
                              ],
                              "default": "text"
                            },
                            "regex": {
                              "type": "string"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "string"
                              ],
                              "default": "string"
                            },
                            "defaultValue": {
                              "type": "string"
                            },
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "select"
                              ],
                              "default": "select"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "string"
                              ],
                              "default": "string"
                            },
                            "defaultValue": {},
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "string"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "radio"
                              ]
                            },
                            "initialValue": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions",
                            "inputType"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "valueOptions": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "number"
                              ]
                            },
                            "defaultValue": {
                              "type": "number",
                              "format": "float"
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "text"
                              ],
                              "default": "text"
                            },
                            "lowerbound": {
                              "type": "number",
                              "format": "float",
                              "description": "If provided, type should be number or integer and provided value should not be lower than this value"
                            },
                            "upperbound": {
                              "type": "number",
                              "format": "float",
                              "description": "If provided, type should be number or integer and provided value should not be higher than this value"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "valueOptions": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "integer"
                              ]
                            },
                            "defaultValue": {
                              "type": "integer"
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "text"
                              ],
                              "default": "text"
                            },
                            "lowerbound": {
                              "type": "number",
                              "format": "float",
                              "description": "If provided, type should be number or integer and provided value should not be lower than this value"
                            },
                            "upperbound": {
                              "type": "number",
                              "format": "float",
                              "description": "If provided, type should be number or integer and provided value should not be higher than this value"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "type"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "number"
                              ],
                              "default": "number"
                            },
                            "defaultValue": {
                              "type": "number",
                              "format": "float"
                            },
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "float"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "select"
                              ],
                              "default": "select"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "integer"
                              ]
                            },
                            "defaultValue": {
                              "type": "integer"
                            },
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "select"
                              ],
                              "default": "select"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "type",
                            "valueOptions"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "number"
                              ],
                              "default": "number"
                            },
                            "defaultValue": {},
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "number",
                                    "format": "float"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "radio"
                              ]
                            },
                            "initialValue": {
                              "type": "number",
                              "format": "float"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions",
                            "inputType"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "integer"
                              ]
                            },
                            "defaultValue": {},
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "integer"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "radio"
                              ]
                            },
                            "initialValue": {
                              "type": "integer"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "type",
                            "valueOptions",
                            "inputType"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "boolean"
                              ],
                              "default": "boolean"
                            },
                            "defaultValue": {},
                            "valueOptions": {},
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "switch",
                                "checkbox"
                              ],
                              "default": "checkbox"
                            },
                            "initialValue": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "key",
                            "name"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "allowNull": {},
                            "type": {
                              "type": "string",
                              "enum": [
                                "boolean"
                              ],
                              "default": "boolean"
                            },
                            "defaultValue": {
                              "type": "boolean"
                            },
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "select"
                              ],
                              "default": "select"
                            },
                            "prefix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "suffix": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "number",
                                      "format": "float"
                                    },
                                    {
                                      "type": "boolean"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "key",
                                "value"
                              ],
                              "additionalProperties": false,
                              "description": "Show this field if other field with provided key is set to provided value. Referenced field must exists already"
                            },
                            "hint": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "type": {
                              "type": "string",
                              "enum": [
                                "boolean"
                              ],
                              "default": "boolean"
                            },
                            "defaultValue": {},
                            "valueOptions": {
                              "type": "array",
                              "items": {
                                "type": "object",
                                "properties": {
                                  "text": {
                                    "$ref": "#/components/schemas/stringOrTranslations"
                                  },
                                  "value": {
                                    "type": "boolean"
                                  }
                                },
                                "required": [
                                  "text",
                                  "value"
                                ],
                                "additionalProperties": false
                              },
                              "minItems": 1
                            },
                            "inputType": {
                              "type": "string",
                              "enum": [
                                "radio"
                              ]
                            },
                            "initialValue": {
                              "type": "boolean"
                            }
                          },
                          "required": [
                            "key",
                            "name",
                            "valueOptions",
                            "inputType"
                          ],
                          "additionalProperties": false
                        },
                        {
                          "type": "object",
                          "properties": {
                            "key": {
                              "type": "string",
                              "pattern": "^[a-z][a-zA-Z\\d]*$",
                              "example": "id"
                            },
                            "name": {
                              "$ref": "#/components/schemas/stringOrTranslations"
                            },
                            "showIf": {
                              "type": "object",
                              "properties": {
                                "key": {
                                  "type": "string"
                                },
                                "value": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
[...]
